<widget id="com.example.hello" version="0.0.1">
        <name>wunder</name>
        <description>
            kuba333 wunderlist lightweight app
        </description>
        <author email="dev@callback.apache.org" href="http://cordova.io">
            kuba333
        </author>
        <content src="index.html" />
        <access origin="*" />
    </widget>